@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: black;
    /* background: linear-gradient(300deg, #ced1d6, #bfc0c0); */
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 400px;
    text-align: center;
}

input:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}



.clock {
    color: rgb(2, 254, 2);
    font-weight: bold;
    font-size: xxx-large;
    margin-bottom: 50px;
    text-align: center;
}

.date {
    color: rgb(0, 229, 255);
    font-weight: bold;
    font-size: xxx-large;
    margin-bottom: 30px;
    text-align: center;
}



h1 {
    color: rgba(255, 255, 3, 0.98);
    font-size: xxx-large;
    text-align: center;
    
}

listForm {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
}

.todos {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    color: rgba(255, 255, 3, 0.98);
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.todos li.completed {
    color: #ec0e0e;
    text-decoration: line-through;
}

small {
    color: #b5b5b5;
    margin-top: 3rem;
    text-align: center;
}